{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ورود - میزبان</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'panel/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'panel/assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'panel/assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'panel/assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-center mb-3"><a href="{% url 'Ads:index' %}">K A R A</a></h3>

                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>نام کاربری *</label>
                  {{ form.username|add_class:"form-control p_input"}}
                  {% if form.username.errors %}
                  <div class="myerrors">
                    {{form.username.errors}}
                  </div>
                {% endif %}

                  </div>
                  <div class="form-group">
                    <label>رمز عبور *</label>
                  {{ form.password|add_class:"form-control p_input"}}
                  {% if form.password.errors %}
                  <div class="myerrors">
                    {{form.password.errors}}
                  </div>
                {% endif %}
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me </label>
                    </div>
                    <a href="#" class="forgot-pass">!رمز عبور را فراموش کردم</a>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn"><i class="mdi mdi-account"></i>ورود</button>
                  </div>
                  <div class="d-flex">
                    {% if form.non_field_errors %}
			              <div class="myerrors">
			          	{{form.non_field_errors.as_text}}
		            	</div>
		            {% endif %}
                  </div>
                  <p class="sign-up">حساب کاربری ندارید؟ <a href="#"> ثبت نام کنید </a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'panel/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'panel/assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'panel/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'panel/assets/js/misc.js' %}"></script>
    <script src="{% static 'panel/assets/js/settings.js' %}"></script>
    <script src="{% static 'panel/assets/js/todolist.js' %}"></script>
    <!-- endinject -->
  </body>
</html>