
{% extends 'panel/base.html' %}
{% load widget_tweaks %}
{% block content %}
<title>افزودن وبلاگ</title>
<div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {% include './partials/_sidebar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        {% include './partials/_navbar.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <div class="col grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">اضافه کردن بلاگ</h4>
                  <p class="card-description"> Add class <code>.table-hover</code>
                  </p>

                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1">عنوان</label>
                      {{ form.title|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">آدرس بلاگ</label>
                      {{ form.slug|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">دسته بندی</label>
                      {{ form.category|add_class:"form-control" }}
                      </select>
                    </div>
                    <div class="form-group">
                      <label>آپلود تصویر</label>
                      {{ form.photo|add_class:"form-control file-upload-info" }}
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity1">وضعیت</label>
                      {{ form.status|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">متن بلاگ</label>
                      {{ form.bmemo|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">ارسال</button>
                    <button class="btn btn-dark">انصراف</button>
                  </form>

                </div>
              </div>
            </div>


          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% include './partials/_footer.html' %}

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% endblock %}
