{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="{% url 'accounts:dashboard' %}"><img src="{% static 'panel/assets/images/logo-AK-1.png' %}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="{% url 'accounts:dashboard' %}"><img src="{% static 'panel/assets/images/favicon.png' %}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="{{ user.avatar.url }}" alt="{% static 'panel/assets/images/faces-clipart/pic-4.png' %}">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">{{ user.username }}</h5>
            <span>{{ user.get_full_name }}</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">پروفایل</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">منو ها</span>
    </li>
    <li class="nav-item menu-items {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
      <a class="nav-link" href="{% url 'accounts:dashboard' %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">داشبورد</span>
      </a>
    </li>
    <li class="nav-item menu-items {% if request.resolver_match.url_name == 'add-blog' and 'blog-list' %} active {% endif %}">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">آگهی ها</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item {% if request.resolver_match.url_name == 'Adslist' %} active {% endif %}">
             <a class="nav-link" href="{% url 'accounts:Adslist' %}">لیست آگهی ها</a></li>
          <li class="nav-item {% if request.resolver_match.url_name == 'Adsadd' %} active {% endif %}">
             <a class="nav-link" href="{% url 'accounts:Adsadd' %}">افزودن آگهی</a></li>
          <li class="nav-item {% if request.resolver_match.url_name == 'category' %} active {% endif %}">
             <a class="nav-link" href="#">دسته بندی ها</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-playlist-play"></i>
        </span>
        <span class="menu-title">پروژه ها</span>
      </a>
    </li>
    <li class="nav-item menu-items {% if request.resolver_match.url_name == 'profile' %} active {% endif %}">
      <a class="nav-link" href="{% url 'accounts:profile' %}">
        <span class="menu-icon">
          <i class="mdi mdi-table-large"></i>
        </span>
        <span class="menu-title">پروفایل</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">لیست کار ها</span>
      </a>
    </li>
  </ul>
</nav>