{% extends 'Ads/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<title>Details</title>


    <!-- Header Section Begin -->
        {% include './tmp/header.html' %}
    <!-- Hero Section End -->

    <!-- Single Property Section Begin -->
    <div class="single-property">
        <div class="container">
            <div class="row spad-p">
                <div class="col-lg-12">
                    <div class="property-title">
                        <h3>{{ object.title }}</h3>
                        <a href="#"><i class="fa flaticon-placeholder"></i>{{ object.cat_city }}</a>
                    </div>
                    <div class="property-price">
                        <p>{% if object.catorg == 'R' %}برای اجاره {% endif%}{% if object.catorg == 'S' %}برای فروش {% endif%}</p>
                        <span>تومان {{ object.price|intcomma:False }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-img owl-carousel">
                        <div class="single-img">
                            <img src="{{ object.image.url }}" alt="">
                        </div>
                        <div class="single-img">
                            <img src="{{ object.image2.url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Property End -->
    <!-- Single Property Deatails Section Begin -->
    <section class="property-details">
        <div class="container">
            <div class="row sp-40 spt-40">
                <div class="col-lg-8">
                    <div class="p-ins">
                        <div class="row details-top">
                            <div class="col-lg-12">
                                <div class="t-details">
                                    <div class="register-id">
                                        <p>شناسه آگهی : <span>{{ object.id }}</span></p>
                                    </div>
                                    <div class="popular-room-features single-property">
                                        <div class="size">
                                            <p>متراژ بنا</p>
                                            <img src="{% static 'Ads/img/icons/size.png' %}" alt="">
                                            <i class="flaticon-bath"></i>
                                            <span>متر {{ object.sizelot }}</span>
                                        </div>
                                        <div class="beds">
                                            <p>اتاق خواب</p>
                                            <img src="{% static 'Ads/img/icons/bed.png' %}" alt="">
                                            <span>{{ object.rooms }}</span>
                                        </div>
                                        <div class="baths">
                                            <p>ظرفیت نفرات</p>
                                            <img src="{% static 'Ads/img/icons/users.png' %}" alt="">
                                            <span>{{ object.fool }}</span>
                                        </div>
                                        <div class="garage">
                                            <p>طبقه</p>
                                            <img src="{% static 'Ads/img/icons/floor.png' %}" alt="">
                                            <span>{{ object.floor }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="property-description">
                                    <h4>توضیحات آگهی</h4>
                                    <p>{{ object.body }}</p>
                                </div>
                                <div class="property-features">
                                    <h4>سرویس ها و امکانات</h4>
                                    <div class="property-table">
                                        <table>
                                            <tr>
                                                <td><img src="{% static 'Ads/img/check.png' %}" alt=""> {{ object.services }}</td>
                                                <td><img src="{% static 'Ads/img/check.png' %}" alt=""> {{ object.services }}</td>
                                                <td><img src="{% static 'Ads/img/check.png' %}" alt=""> {{ object.services }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="location-map">
                                    <h4>Location</h4>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107002.020096289!2d-96.80666618302782!3d33.06138629992991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c21da13c59513%3A0x62aa036489cd602b!2sPlano%2C+TX%2C+USA!5e0!3m2!1sen!2sbd!4v1558246953339!5m2!1sen!2sbd" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row pb-30">
                        <div class="col-lg-12">
                            <div class="contact-service">
                                <img src="{{ user.avatar.url }}" alt="">
                                <p>آگهی دهنده</p>
                                <h5>{{ object.author }}</h5>
                                <table>
                                    <tr>
                                        <td>نام و نام خانوادگی : <span>{{ user.get_full_name }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>موبایل : <span>{{ user.phone }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>واتس آپ : <span>{{ user.watsapp }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>تلگرام : <span>{{ user.telegram }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>ایمیل : <span>{{ user.email }}</span></td>
                                    </tr>
                                </table>
                                <a href="#" class="site-btn list-btn">View More Listings</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Property Deatails Section End -->
    <!-- Footer Section Begin -->
    {% include './tmp/footer.html' %}
    <!-- Footer Section End -->


{% endblock %}