{% extends 'Ads/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<title>Amlak-Kara | خانه</title>


    <!-- Header Section Begin -->
        {% include './tmp/header.html' %}
    <!-- Hero Section End -->
   <!-- Filter Search Section Begin -->
   <div class="filter-search">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <form class="filter-form">
                    <div class="location">
                        <p>استان/شهر</p>
                    {% for Ads.cat_city in object %}
                        <select class="filter-location">
                            <option value="">{{ object.cat_city }}</option>
                        </select>
                        {% endfor %}
                    </div>
                    <div class="search-type">
                        <p>نوع ملک</p>
                        <select class="filter-property">
                            <option value="">House</option>
                            <option value="">Resort</option>
                            <option value="">Hotel</option>
                        </select>
                    </div>
                    <div class="price-range">
                        <p>قیمت</p>
                        <div class="range-slider">
                            <div id="slider-range">
                                <div tabindex="0"
                                    class="ui-slider-handle ui-corner-all ui-state-default slider-left">50k</div>
                                <div tabindex="0"
                                    class="ui-slider-handle ui-corner-all ui-state-default slider-right">300k</div>
                            </div>
                        </div>
                    </div>
                    <div class="bedrooms">
                        <p>تعداد خواب</p>
                        <div class="room-filter-pagi">
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-1">
                                <label for="room-1">1</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-2">
                                <label for="room-2">2</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-3">
                                <label for="room-3">3</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="room" id="room-4">
                                <label for="room-4">4+</label>
                            </div>
                        </div>
                    </div>
                    <div class="bathrooms">
                        <p>Bathrooms</p>
                        <div class="room-filter-pagi">
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-1">
                                <label for="bathroom-1">1</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-2">
                                <label for="bathroom-2">2</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-3">
                                <label for="bathroom-3">3</label>
                            </div>
                            <div class="bf-item">
                                <input type="radio" name="bathroom" id="bathroom-4">
                                <label for="bathroom-4">4+</label>
                            </div>
                        </div>
                    </div>
                    <div class="search-btn">
                        <button type="submit"><i class="flaticon-search"></i>جستجو</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Filter Search Section End -->
    <!-- Hotel Room Section Begin -->
    <section class="hotel-rooms spad">
        <div class="container">
            <div class="row">

                {% for Ads in ads_list %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="{{ Ads.image.url }}">
                        {% if Ads.ads_vip == True %}
                            <a class="room-content">
                                <span class="vip"><i class="flaticon-heart">ویژه</i></span>
                            </a>
                        {% endif %}
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>{{ Ads.title }}</h5>
                                    <a href="#"><i class="flaticon-placeholder"></i> <span>لوکیشن</span></a>
                                    <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>{{ Ads.cat_city }}</span></a>
                                </div>
                            </div>
                            <div class="room-features">
                                <div class="room-info">
                                    <div class="size">
                                        <p>متراژ بنا</p>
                                        <img src="{% static 'Ads/img/icons/size.png' %}" alt="">
                                        <i class="flaticon-bath"></i>
                                        <span>متر {{ Ads.sizelot }}</span>
                                    </div>
                                    <div class="beds">
                                        <p>خواب</p>
                                        <img src="{% static 'Ads/img/icons/bed.png' %}" alt="">
                                        <span>{{ Ads.rooms }}</span>
                                    </div>
                                    <div class="baths">
                                        <p>ظرفیت</p>
                                        <img src="{% static 'Ads/img/icons/users.png' %}" alt="">
                                        <span>{{ Ads.fool }}</span>
                                    </div>
                                    <div class="garage" >
                                        <p>نوع ملک</p>
                                        <span class="catg">{{ Ads.category }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-price">
                                <p>{% if Ads.catorg == 'R' %}برای اجاره {% endif%}{% if Ads.catorg == 'S' %}برای فروش {% endif%}</p>
                                <span>تومان {{ Ads.price|intcomma:False }}</span>
                            </div>
                            <hr>
                            <div class="submit">
                                <a href="{% url 'Ads:AdsDetails' Ads.pk %}" class="site-btn btn-line">نمایش آگهی</a>
                             </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Hotel Room Section End -->
    <!-- Newslatter Section Begin -->
    <section class="newslatter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="newslatter-text">
                        <img src="{% static 'Ads/img/message.png' %}" alt="">
                        <h4>Join our mailing to get weekly updates on <br>our exclusive deals.</h4>
                        <form>
                            <input type="text" placeholder="Email address">
                            <button type="submit" class="site-btn news-btn">Subscribe!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->
    <!-- Servies Section Begin -->
    <section class="services-section">
        <div class="container">
            <div class="row" dir="rtl">
                <div class="col-lg-6">
                    <div class="left-side">
                        <h2><span>اجاره روزانه ویلا ساده‌تر از همیشه</span></h2>
                        <p>
                            سفر جزو آن مدل تفریحاتی است که با هر نوع سلیقه و روحیاتی سازگار است. عجیب به نظر می‌رسد که سفر کردن جایی در زندگی شما نداشته باشد و دلتان نخواهد هر چند مدت یکبار یک سفر خوشایند را در سطح کشور یا حتی خارج از آن تجربه کنید. برای سفر کردن نیاز به سخت‌گیری نیست اگر یک گردشگر واقعی باشید می‌توانید در هر شرایطی مقدمات یک سفر تمام عیار را فراهم کنید و با اجاره روزانه ویلا اوقاتی لذت بخش را برای خودتان و همراهانتان ترتیب ببینید.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-side">
                        <img src="{% static 'Ads/img/rent.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Servies Section End -->
    <section class="instagram">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><a href="https://www.instagram.com/amlak_kara.co/" target=”_blank” class="site-btn">@Amlak_Kara.co</a> ما را در اینستاگرام دنبال کنید </h2>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section Begin -->
        {% include './tmp/footer.html' %}
    <!-- Footer Section End -->


{% endblock %}