{% load static %}
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sp-60">

            </div>
        </div>
        <div class="row p-37">
            <div class="col-lg-4">
                <img src="{% static 'Ads/img/logo.png' %}" alt="">
                <div class="about-footer">
                    <h5>املاک کارا چیست ؟</h5>
                    <p> وپ اپلیکیشنی برای فروش املاک و رزو ویلا که شما می توانید شهر و امکانات موردنظر خود را انتخاب نموده و سفری متفاوت را داشته باشید و همچنین بازدید بالایی برای آگهی خود ↓داشته باشید,ارسال به شبکه های اجتماعی با ما باشید</p>
                    <div class="footer-social">
                        <a href="https://t.me/Amlak_kara_com"><i class="fa fa-telegram"></i></a>
                        <a href="https://instagram.com/Amlak_kara.co"><i class="fa fa-instagram"></i></a>
                        <a href="https://chat.whatsapp.com/HHc6Mdi0s2S0sCs4NVSu46"><i class="fa fa-whatsapp"></i></a>
                        <a href="./acoounts/"><i class="fa fa-cogs"></i></a>
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-blog">
                    <h5>آگهی های ویژه</h5>

                    <div class="single-blog">
                        <div class="lt-side">
                            <img src="img/footer-blog-1.jpg" alt="">
                        </div>
                        <div class="rt-side">
                            <h6>How to find the perfect area for<br> your next house.</h6>
                            <div class="blog-time">
                                <i class="flaticon-clock"></i>
                                <span>5 min</span>
                            </div>
                            <a href="#" class="read-more">
                                <i class="flaticon-right-arrow-1"></i>
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                    <div class="single-blog">
                        <div class="lt-side">
                            <img src="img/footer-blog-2.jpg" alt="">
                        </div>
                        <div class="rt-side">
                            <h6>How to find the perfect area for<br> your next house.</h6>
                            <div class="blog-time">
                                <i class="flaticon-clock"></i>
                                <span>5 min</span>
                            </div>
                            <a href="#" class="read-more">
                                <i class="flaticon-right-arrow-1"></i>
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-address">
                    <h5>تماس با ما</h5>
                    <ul>
                        <li><i class="fa fa-envelope"></i><span>info@amlak-kara.com</span></li>
                        <li><i class="fa fa-phone"></i><span>+989102177882</span></li>
                        <li><i class="fa fa-phone"></i><span>+989192177882</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row p-20">
            <div class="col-lg-12 text-center">
                <div class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developer Web Applications <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://6line.ir" target="_blank">6Line Co</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </div>
            </div>
        </div>
    </div>
</footer>